/* MEDIA QUERIES FOR 576PX AND ABOVE */
/* Only use the breakpoint necessary to your project */
@media all and (max-width:425px) {
}
@media all and (min-width:576px) {}

@media all and (min-width:768px) {
      
}

@media all and (min-width:992px) {
  .sidebar, .main-content {
    font-size: 18px;
}
.sidebar__list-active {
  background-color: #f0f7ff;
  color: var(--fc-secondary);
}
     
}

@media all and (min-width:1200px) {
  :root{
    --fs-label: 19px;
    --fs-input: 18px;
  
  }
  .required{
    font-size: var(--fs-label);
  }
  .withdraw-form-control{
    font-size: var(--fs-input);
   }
}


@media all and (min-width:1440px) { 
    
}

@media all and (min-width:2560px) {
}
